body {
    background-color: lightblue;
    color: maroon;
    font-family: Arial;
    margin: 0px;
}
header{
    margin: 0px;
    padding: 10px;
    background-color: lightcoral;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
main{
    font-family: 'Courier New', Courier, monospace;
}
footer {
    margin: 0px;
    padding: 10px;
    background-color: lightcoral;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
a {
    text-decoration: none;
}
h1 {
    text-align: center;
}