body {
    background-color: lightblue;
    color: maroon;
    font-family: Arial;
    margin: 0px;
}
header{
    margin: 0px;
    padding: 10px;
    background-color: lightcoral;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
main{
    font-family: 'Courier New', Courier, monospace;
}
footer {
    margin: 0px;
    padding: 10px;
    background-color: lightcoral;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
a {
    text-decoration: none;
}
a:link{
    color: blue;
    text-decoration: double;
    font-weight: bold;
}
a:visited{
    color: rgb(237, 20, 20);
}
a:hover{
    color: rgb(91, 19, 19);
    text-decoration: underline;
    background-color: blanchedalmond;
    box-shadow: 5px 5px 7px black;
}
a:active {
    color: black;
    opacity: 0.3;
}
h1 {
    text-align: center;
}